img {
  display: block;
  width: 50%;
  margin: 0 auto;
  cursor: zoom-in;
}

#modal img {
  max-height: 80vh;
  width: auto;
  max-width: 90vw;
}
  #modal img:hover {
    opacity: 1;
    cursor: zoom-out;
  }
