/* =========================== Body styles */

:root {
  --color1: #008B8B;
  --color2: #333333;
  --font1: 'Quattrocento';
  --font2: 'Comfortaa';
  --font3: 'Dancing Script';
}

* {
//border: 1px solid lightgrey;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin: auto;
  margin-top: 10px;
}

h1 {
  font-family: var(--font1);
  font-size: 2.5rem;
  color: var(--color1);
  text-align: center;
}

p {
  font-family: var(--font2);
  color: var(--color2);
  font-size: 1.1rem;
}

a {
  color: var(--color1);
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 965px) {
    body {
      margin: 10px;
    }
}

/* =========================== Header Styles */
header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0));
  //box-shadow: 0 5px 5px rgba(255, 255, 255, 0.9);
}

#logo {
  display: inline-block;
  height: 3rem;
  font-family: var(--font1), serif;
  font-size: 3rem;
  font-weight: bolder;
  color: var(--color1);
}

nav {
  display: inline;
  height: 3rem;
  float: right;
  font-family: var(--font2), sans-serif;
  font-size: 1.2rem;
  text-align: right;
}
  nav a {
    display: inline-flex;
    align-items: flex-end;
    color: var(--color2);
    text-decoration: none;
    height: inherit;
    padding-left: 0.5rem;
  }
  nav a:hover {
    color: var(--color1);
    font-weight: bold;
  }

#hamburger {
  display: none; /* Turned on by media query */
  float: right;
  cursor: pointer;
}
  #hamburger div {
    display: block;
    width: 2rem;
    height: 5px;
    background-color: darkgoldenrod;
    margin: 5px 0 0 0;
  }

  #navMobile {
    display: none;
    position: fixed;
    z-index: 1;
    top: 70px;;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.9);
    z-index: 1;
  }

  #navMobile a {
    display: block;
    padding-right: 10px;
    font-family: var(--font2);
    text-align: right;
    font-size: 2rem;
    text-decoration: none;
    color: var(--color1);
  }
    #navMobile a:active {
      background-color: var(--color1);
      color: white;
    }

#logo2 {
  display: flex;
  height: 2rem;
  padding: 0;
  margin: 0;
  font-family: var(--font3), cursive;
  color: var(--color1);
  font-size: 2rem;
}
  #hr1 {
    display: inline-flex;
    width: 100px;
    margin: 0.95rem 0;
    margin-left: 0;
    background-color: var(--color1);
  }
  #logo2 span {
    display: inline-flex;
    justify-content: center;
    margin: 0 5px;
    flex-shrink: 0;
    text-shadow: 0px 5px 15px white;
  }
  #hr2 {
    display: inline-flex;
    margin: 0.95rem 0;
    margin-right: 0;
    min-width: 70%;
    flex-grow: 1;
    background-color: var(--color1);
  }

/* ================ Header Responsive styles */
  @media only screen and (max-width: 750px) {
    #logo {
      font-size: 2.5rem;
      height: 2.5rem;
    }
    nav {
      font-size: 1rem;
      height: 2.5rem;
    }
    #logo2 {
      font-size: 1.5rem;
    }
    #hr1 {
      width: 75px;
    }
  }

  @media only screen and (max-width: 650px) {
    #logo {
      font-size: 2rem;
      height: 2rem;
    }
    nav {
      font-size: 1rem;
      height: 2rem;
    }
    #logo2 {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 2rem;
    }
  }
@media only screen and (max-width: 540px) {
  nav {
    display: none;
  }
  #hamburger {
    display: block;
  }
}

/* ========================= Hero styles */
#hero {
  height: 30vw;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(256, 256, 256, 1), rgba(117, 19, 93, 0)), url("../media/hero/hero2.jpg");
  background-size: cover;
  background-position: bottom;
  border-bottom: 3px solid var(--color1);
}


/* ========================== Main styles*/
main {
  max-width: 700px;
  margin: 0 auto;
}

#meImg {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

/* ========================== Footer styles*/

footer {
  border-top: 3px solid var(--color1);
  margin-top: 40px;
}

footer p {
  font-family: var(--font2);
  color: var(--color2);
  font-size: 0.8rem;
  text-align: center;
}
